.header {
  display: flex;
  padding: 2rem;
  background-color: #222;
}

.loginwrap {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-left: auto;
}

.signin {
  cursor: pointer;
  padding: 10px 15px;
  background: #111;
  color: #eee;
  transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.signin:hover { background: #2078ca; }

.username {
  font-weight: bold;
}
